streamlit
#Necesario para crear y ejecutar la aplicación web interactiva.


pandas
#Para manejar y procesar datos tabulares (Excel, DataFrames, etc.).

openpyxl
#Para leer y escribir archivos Excel en formatos .xlsx.

rapidfuzz
#Para realizar coincidencias de texto rápidas y eficientes mediante ratios de similitud.

scikit-learn
#Es útil si se llega a poner en el codigo funciones de preprocesamiento, métricas adicionales, o embeddings personalizados.

pillow
#Para manejar imágenes, si se usa gráficos o logos en la app.

sentence-transformers
#Para realizar embeddings de texto utilizando modelos preentrenados como all-MiniLM-L6-v2.

torch
#Es una dependencia principal de sentence-transformers y se usa para realizar cálculos de embeddings y métricas de similitud.

transformers
#Para usar modelos de Hugging Face (en algunos modelos de sentence-transformers pueden depender de él).

numpy
#Base para operaciones matemáticas y matrices, usado por casi todas las librerías científicas.

unidecode
#Para normalizar y limpiar texto (eliminación de caracteres acentuados o especiales).
